// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
$primary: #1c1c1c;
$secondary: white; //#83c5be
$background: #c5e4e1;
$backgroundColorCyan: #689eb8;

//The reason why the hover for everything was red was because of _reboot.scss at 185.

//This is variables for screen sizes
// $phone: 18em;
// $smallMonitor: 50em;
$xl: 1440px;
$lg: 992px;
$md: 768px;
$sm: 576px;

* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	line-height: 1.5;
	font-family: "Montserrat", sans-serif;
}

.cursive_font {
	font-family: "Montserrat", sans-serif;
}

nav .container .navbar-collapse {
	color: white;
}

body {
	height: 100%;
}

.blk {
	background-color: black;
}

.jwalk_Gray {
	background-color: $primary;
}

.fa-bars {
	color: white;
}

.bolden600 {
	font-weight: 600;
}
.bolden800 {
	font-weight: 800;
}

.blueText {
	color: royalblue !important;
}

.GrayText {
	color: gray;
}

.lightGrayText {
	color: lightgray;
}

.removeScrollbar {
	overflow: hidden;
}

.goldText {
	color: #fecf00 !important;
}

.whiteText {
	color: white;
}

div .fillWidth a .reduceSpacingMar {
	margin-bottom: -0.3em;
}

.dateFont-size {
	font-size: 1.3em;
}

.submitBtn {
	background: inherit;
	border: 1px black solid;
}

.whitesubmitBtn {
	background: inherit;
	border: 1px white solid;
}

.grayBck {
	background-color: #f9f9fb;
}

.backgroundForEvent {
	background-color: $backgroundColorCyan;
	margin-top: -3em;
	padding-top: 3.5em;
	padding-bottom: 3.5em;
}

//This sets up the padding and margins for AOW
.aowBg {
	background-color: #689eb8;
	padding-top: 3.5em;
	padding-bottom: 3.5em;
	padding-left: 20em;
	padding-right: 20em;
}

.textAlignLeft {
	text-align: left;
}

.aowText {
	padding-left: 5em;
}

.backgroundBG {
	background: #1c1c1c;
}

.whiteBg {
	background: #fff;
}

.graybackground {
	background-color: #1c1c1c;
}

body {
	// font-family: "Source Sans Pro", sans-serif;
	font-family: "Noto Sans", sans-serif;
	font-size: 16px;
	line-height: 1.25;
}

.fontSz14 {
	font-size: 14px;
}

.footeritems {
	letter-spacing: 1.75px;
	padding: 0.5rem 0rem;
	font-weight: 200;
	text-decoration: none !important;
}

.footeritems:hover {
	text-decoration: none !important;
}

.copyRightSize {
	font-size: 16px;
}

div p .copyRightSize {
	font-size: 16px;
}

.footerFontSize {
	font-size: 8px;
}

.footerBtn {
	padding: 0.3em 0.8em 0.3em 0.8em;
	margin-top: 1em;
}

.fontSz18 {
	font-size: 18px;
}

.flex {
	display: flex;
}

.centerflex {
	display: flex;
	justify-content: center;
	align-items: center;
	height: inherit;
}

.centerFlexPrayer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: inherit;
}

.roundEdges {
	border-radius: 200px;
}

.menuItemPadding {
	padding: 1em 1em 0 1em;
}
.centerflexColumn {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.centerflexColumnMobile {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: inherit;
}

.centerflexLeft {
	display: flex;
	justify-content: flex-start;
}

.centerText {
	text-align: center;
}

.fullWidthContainer {
	width: 100%;
}

body {
	width: 100%;
}

.width90 {
	width: 90%;
}

.width40 {
	width: 40%;
}

.fillWidth {
	width: 100%;
}

.socialIcons {
	position: absolute;
	top: 50%;
}

.fa-twitter,
.fa-instagram,
.fa-youtube-play,
.fa-facebook-official {
	color: white;
}

/* Padding */

.footer_icon_padding {
	padding: 0 0.5em 0.5em 0.5em;
}

.mobile_footer_icon_padding {
	padding: 1em 0.5em 0.5em 0.5em;
}

.halfPadding {
	padding: 0 0 1em 5em;
}

.hrPadding {
	padding: 1em 0 1em 0;
}

.top4EMPadding {
	padding-top: 4em;
}
.top2EMPadding {
	padding-top: 2em;
}
.top1EMPadding {
	padding-top: 1em;
}

.bot4EMPadding {
	padding-bottom: 4em;
}

.bot2p5EMPadding {
	padding-bottom: 2.5em;
}

.bot3EMPadding {
	padding-bottom: 3em;
}
.bot3n5EMPadding {
	padding-bottom: 3.5em;
}

.bot2EMPadding {
	padding-bottom: 2em;
}

.bot1p5EMPadding {
	padding-bottom: 1.5em;
}

.bot1EMPadding {
	padding-bottom: 1em;
}

.botp5EMPadding {
	padding-bottom: 0.5em;
}

.right1EmPadding {
	padding-right: 1em;
}

.bot3emMargin {
	margin-bottom: 3em;
}

.padTopBot1n5em {
	padding: 1.5em 0 1.5em 0;
}

.padding2emSides {
	padding-left: 2em;
	padding-right: 2em;
}

.padding8em {
	padding-top: 14em;
	padding-bottom: 8em;
}

.left1emPd{
	padding-left: 1em;
}

.halfWidth {
	width: 45vw;
}

.absolute {
	position: absolute;
	// width: inherit;
	height: inherit;
	//There is a margin here because we want to push landing below the sticky header.
	margin-top: 12em;
}

.hidden {
	display: none;
}

.landingCaption {
	z-index: 20;
}

.home-banner {
	height: 85vh;
	background: #1c1c1c;
	background-size: cover;
	padding-top: 6em;
}

.home-bannerAOW {
	height: 85vh;
	background: #1c1c1c;
	background-size: cover;
	padding-top: 6em;
}

.dropmeDown {
	margin-top: 6em;
}

.bannerImg {
	min-width: 100%;
	height: 100%;
	object-fit: cover;
}

#wrapper-navbar {
	.container {
		padding-top: 2em;
	}
}

.extra-info {
	text-align: center;
}

.loginBtn {
	color: white;
	border: solid 1px white;
	padding: 1em;
	margin-right: 1em;
}

.socialBtns {
	width: 10px;
	height: 5em;
	text-align: center;
	a {
		color: $primary;
		.fa {
			color: $secondary;
		}
		.fa:hover {
			color: darken($color: $secondary, $amount: 20%);
		}
	}
}

//This is for the navbar and this does affect it in the array.

.menuCenter {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #1c1c1c;
	position: fixed;
	box-sizing: border-box;
	z-index: 99999999;
	width: 100%;
}

#main-nav {
	border-top: 1px solid #1c1c1c;
	// @media(min-width:$lg){
	// 	display: none;
	// }
}

ul {
	//This puts space around the menu items.
	flex: 1;
	justify-content: center;
	li {
		a {
			//This is every specific menu item.
			font-weight: 200;
			// text-transform: uppercase;
			font-size: 16px;
			padding: 1em 1em;
			@media (max-width: $xl) {
				font-size: 18px;
				padding: 1em 0.33em;
			}
		}

		//This will determine the color of the current tab. Will return to this.
		&.current_page_item {
			a {
				color: $secondary;
			}
		}
	}
}

a .nav-link {
	color: white;
}

nav {
	.container {
		.logo {
			width: 4em;
			height: 3em;
		}
		@media (max-width: $lg) {
			.logo {
				width: 3em;
				height: 2.5em;
			}
		}
		.menu-bar {
			height: 2px;
			background-color: $secondary;
			border-radius: 2px;
			margin-bottom: 4px;
		}
	}
}

@media (min-width: $lg) {
	.navMenu {
		display: none;
	}
}

.jwalkLogo {
	width: 20em;
}

.letterSpace {
	letter-spacing: 1.75px;
	z-index: 1000000000000;
}

.section-break {
	border: none;
	border-top: 1px solid #ddd;
	margin: 2.5rem 0;
}

.page-banner__bg-image {
	background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.flexImage {
	display: flex;
	justify-content: center;
}

.page-banner__content {
	position: relative;
	z-index: 2;
}

.textWhite {
	color: white;
}
.textBlack {
	color: black;
}

.maxWidth {
	max-width: 100%;
}

.imageBox {
	border: solid white 1px;
	height: 20em;
	width: 15em;
}

.page-banner {
	background-color: #000;
	padding: 5em 0 4em 0;
	position: relative;
	height: 30vh;
}
.centered {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	height: 100vh;
}
.centeredHeading {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
}

.centeredItem {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

svg path {
	will-change: transform;
	fill: transparent;
	stroke-width: 3;
	stroke: white;
	stroke-dasharray: 1717.66552734375;
	stroke-dashoffset: 1717.66552734375;
	animation: line-anim 3s ease forwards;
}

.eventInfo {
	width: 80%;
}

.eventDate {
	width: 20%;
}

.eventItem {
	border-top: 0.5px solid black;
}

.thumbnailSize {
	height: 7em;
	width: 10em;
	margin: 0 1em 0 1em;
	font-family: monserrat;
}

.silver-background {
	background: #e1e5f2;
}

#counselor-program {
	background: #1f7a8c;
}

// #logo path:nth-child(0) {
// }

@keyframes line-anim {
	from {
		fill: transparent;
	}
	to {
		stroke-dashoffset: 0;
		fill: white;
	}
}

@keyframes fillers {
	to {
		fill: black;
	}
}

.cross {
	background: red;
	height: 160px;
	position: relative;
	width: 20px;
}
.cross:after {
	background: red;
	content: "";
	height: 20px;
	left: -40px;
	position: absolute;
	top: 40px;
	width: 100px;
}
// .centeredOnImg{
// 	background-image: url("../../img/JW2022_Website_1920w.png");
// }

//Media Queries for page responsiveness

// $xl: 1440px;
// $lg: 992px;
// $md: 768px;
// $sm: 576px;

@media screen and (max-width: 350px) {
	.home-banner {
		height: 40vh !important;
	}
	.home-bannerAOW {
		height: 38vh !important;
	}

	.bgimage {
		background-image: url(../img/JW2022_Website_340w.png) !important;
		background-repeat: no-repeat;
		background-position: center;
	}

	.bgimageAOW {
		background-image: url(../img/AOW2022_POSTER_340w.png) !important;
		background-repeat: no-repeat;
		background-position: center;
	}
}
@media screen and (max-width: 390px) {
	.bgimage {
		background-image: url(../img/JW2022_Website_375w.png);
		background-repeat: no-repeat;
		background-position: center;
	}

	.bgimageAOW {
		background-image: url(../img/AOW2022_POSTER_375w.png);
		background-repeat: no-repeat;
		background-position: center;
	}
}

//This is for the mobile view
@media screen and (max-width: 480px) {
	.bgimage {
		background-image: url(../img/JW2022_Website_420w.png);
		background-repeat: no-repeat;
		background-position: center;
	}
	.bgimageAOW {
		background-image: url(../img/AOW2022_POSTER_420w.png);
		background-repeat: no-repeat;
		background-position: center;
	}

	.home-banner {
		height: 43vh !important;
		background: #1c1c1c;
		background-size: cover;
	}
	.home-bannerAOW {
		height: 38vh !important;
		background: #1c1c1c;
		background-size: cover;
	}
}

//This is for the mobile plus view
@media screen and (max-width: $md) {
	.centerFlexPrayer {
		display: flex;
		justify-content: center;
		align-items: center;
		height: inherit;
		flex-direction: column;
	}

	.halfWidth {
		width: 100%;
	}

	.bgimage {
		background-image: url(../img/JW2022_Website_420w.png);
		background-repeat: no-repeat;
		// background-attachment: fixed;
		background-position: center;
		// width: 96%;
	}

	.bgimageAOW {
		background-image: url(../img/AOW2022_POSTER_420w.png);
		background-repeat: no-repeat;
		background-position: center;
		// background-attachment: fixed;
	}

	.vh100 {
		height: 100vh;
	}

	.home-banner {
		background: #1c1c1c;
		background-size: cover;
		height: 71vh;
	}
	.home-bannerAOW {
		background: #1c1c1c;
		background-size: cover;
		height: 65vh;
	}

	.hideNavMenu {
		display: none;
	}

	.hideForMobile {
		display: none;
	}

	.dropmeDown {
		margin-top: 13em;
	}

	//Event styles
	.eventTitle {
		font-size: 20px;
	}

	.reduceSpacingMar {
		margin-bottom: -3em !important;
	}

	.colForMobile {
		flex-direction: column;
	}

	.dateFont-size {
		font-size: 1em;
	}

	p .width40 {
		width: 100%;
	}

	#footerGrid .bot4EMPadding {
		padding-bottom: 2em;
	}

	.mobile1emTopPad {
		padding-top: 1em;
	}

	.copyRightSize {
		font-size: 13px;
	}
	//probably need to move the flex to left.

	#footerGrid .bot4EMPadding {
		padding-bottom: 1em;
	}

	.copyWidth {
		width: 100% !important;
	}

	.bot1em {
		padding-bottom: 1em !important;
	}
	#navMenu {
		z-index: 20000000;
	}

	.aowBg {
		background-color: #689eb8;
		padding-top: 3.5em;
		padding-bottom: 3.5em;
		padding-left: 0;
		padding-right: 0;
	}

	.aowText {
		padding-top: 2em;
		padding-left: 1em;
		padding-right: 1em;
	}

	.centerflexColumnMobileAOW {
		display: flex;
		justify-content: center;
		flex-direction: column !important;
		align-items: center;
		height: inherit;
	}
}

@media screen and (min-width: $md) {
	.bgimage {
		background-image: url(../img/JW2022_Website_800w.png);
		background-repeat: no-repeat;
		// background-attachment: fixed;
		background-position: center;
	}

	.bgimageAOW {
		background-image: url(../img/AOW2022_POSTER_800w.png);
		background-repeat: no-repeat;
		background-position: center;
		// background-attachment: fixed;
	}
}

@media screen and (min-width: $lg) {
	.hideMobileMenu {
		display: none;
	}

	.hideOnDesktop {
		display: none;
	}

	.bgimage {
		background-image: url(../img/JW2022_Website_1920w.png);
		// height: 100vh;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
	}

	.bgimageAOW {
		background-image: url(../img/AOW2022_POSTER_1920w.png);
		background-repeat: no-repeat;
		background-position: center;
		background-attachment: fixed;
	}
}

@media screen and (min-width: $xl) {
	.width100 {
		width: 100%;
	}
	.width60 {
		width: 50%;
	}
	.horizFlex {
		display: flex;
		justify-content: space-between;
		flex-flow: row;
	}

	.bgimage {
		background-image: url(../img/JW2022_Website_1920w.png);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
		height: 100vh;
	}

	.bgimageAOW {
		background-image: url(../img/AOW2022_POSTER_1920w.png);
		background-repeat: no-repeat;
		background-position: center;
		background-attachment: fixed;
		height: 100vh;
	}
}

.mobileMenuNav {
	background: black;
	height: 100vh;
	position: absolute;
	z-index: 20000000;
	width: 100vw;
	left: 0;
	top: 0;
}

.wrapper {
	padding-top: 3.5em;
	background-color: #1c1c1c;
	padding-bottom: 2em;
	text-align: center;
}

.footer-container {
	padding-top: 1.5em;
	background-color: #1c1c1c;
	padding-bottom: 2em;
	text-align: center;
}

.site-info {
	text-align: center;
}

.whiteHr {
	border-top: white 1px solid;
}

/* Scrollbar styles*/
/* width */
::-webkit-scrollbar {
	width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: gray;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #d3d3d3;
}

.donateBtn {
	background-color: white;
	color: black;
	padding: 0.1em 1em 0.1em 1em;
	text-decoration: none;
	border: 1px solid white;
	font-weight: 600;
	margin-left: 1.5em;
}
.mobileDonateBtn {
	background-color: white;
	color: black;
	padding: 0.1em 1em 0.1em 1em;
	text-decoration: none;
	border: 1px solid white;
	font-weight: 600;
}
